<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://alchemydemofun20220512104649.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f03ad434-d420-42da-8627-052d02f5760c/resourcegroups/AlchemyDemofun20220512104649ResourceGroup/providers/Microsoft.Web/sites/AlchemyDemofun20220512104649</ResourceId>
    <UserName>$AlchemyDemofun20220512104649</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://alchemydemofun20220512104649.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>